name: npm-publish-on-release
on:
  release:
    types: [created]
jobs:
  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10.22.0
      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          registry-url: https://registry.npmjs.org
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm run prettier:check
      - run: pnpm run lint:check
      - run: pnpm run test:ci
      - run: pnpm run build
      - run: cp LICENSE dist/LICENSE
      - run: cp README.md dist/README.md
      - run: jq 'del(.devDependencies) | del(.scripts)' package.json > dist/package.json
      - run: pnpm publish ./dist --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}